<div class="row">
  <div class="col-md-4">
    <%= image_tag @product.product_img.url (:product_show), class: "product-show" %>
  </div>
  <div class="col-md-8">
    <h2><%= @product.name %></h2>
    <h2>Average Rating</h2>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    <span>Based On <%= @product.reviews.count %> reviews</span>
    <h4>Category: <%= @product.category.name %></h4>
    <p><%= @product.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <!-- review and ratings will go here -->

  <%= render @product.reviews %>

  <div>
    <%= link_to "Add Review", new_product_review_path(@product)  %>
    <%= link_to 'Back', root_path %>
  </div>

  </div>
</div>


<% if user_signed_in? %>

  <% if @product.user_id == current_user.id %>

  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure?"} %>

  <% end %>

<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  })
</script>
